<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid" (click)="onSubmit()">Save</button>
                    <button type="button" class="btn btn-danger" (click)="clearForm()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Recipe</label>
                        <input type="text" id="name" class="form-control" formControlName="recipeName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imaagePath">Image</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <img [src]="imagePath.value" alt="recipe image" class="img-responsive" style="max-height: 250px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" rows="6"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingrediants">
                    <div class="row" *ngFor="let control of getControls(); let i = index" [formGroupName]="i">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" (click)="deleteIngrediant(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button (click)="addIngrediant()" class="btn btn-success">Add Ingrediant</button>
                </div>
            </div>
        </form>
    </div>
</div>